---
import getHomeDocument from '~/utils/getHomeDocument';
import getAllPageDocuments from '~/utils/getAllPageDocuments'
import DefaultLayout from '~/components/DefaultLayout.astro'

const { background, foreground } = await getHomeDocument() || {}
const pages = await getAllPageDocuments()

---
<DefaultLayout background={background} foreground={foreground}>
  {pages.map(({uid}) => <div><a href={`/${uid}`}>{uid}</a> </div>)}
</DefaultLayout>
