---
import memoize from 'p-memoize'
import type { SingleImageSlice } from '~/slices/types'
import { memoizedBlurhash } from '~/utils/blurhash'

export type Props = SingleImageSlice['items'][number]['image']

const props = Astro.props as Props
const { url, dimensions } = props

const src = `${url}&h=600`
const blurHash = await memoizedBlurhash(`${url}&h=128`, dimensions)
---

<div>
  {blurHash && <img src={blurHash} aria-hidden="true" />}
  <img src={src} loading="lazy" alt={Astro.props.alt} />
</div>
